# Folderion
.gradle/
build/
out/
.idea/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/
bin/
*.log
.DS_Store
*-work/

# Compiled / packaged
*.class
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
replay_pid*
